<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-Op2x_fB6-2hxuzFd-7chEQz5NyPVVHE</string>
	<key>GCM_SENDER_ID</key>
	<string>162774085299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.kayukaryaapp</string>
	<key>PROJECT_ID</key>
	<string>kayukaryaapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kayukaryaapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162774085299:ios:902e32b42e3131fea6cac6</string>
</dict>
</plist>